services:
  - type: web
    name: strapi
    runtime: node
    repo: https://github.com/bribera/back-learning
    branch: main
    buildCommand: npm install && npm build
    startCommand: npm start
    healthCheckPath: /_health
    envVars:
      - key: NODE_VERSION
        value: 18.18.0
      - key: NODE_ENV
        value: production
      - key: CLOUDINARY_NAME
        sync: false
      - key: CLOUDINARY_KEY
        sync: false
      - key: CLOUDINARY_SECRET
        sync: false
    
    